.eco-h1{
    color: #274C5B;
    font-size: 50px;
    font-family: Roboto , sans-serif;
}
.eco-card{
    width: 700px;
    position: absolute;
    height: auto;
    padding: 50px;
    border-radius: 20px;
    top: 130px;
    left: 650px;
    background: #fff;
}
.eco-container{
    position: relative;
}